<div>
    <h1>Real Time Products List</h1>

    {{#each prod}}
        <div>
            <p>ID: {{this.id}}</p>
            <p>Title: {{this.title}}</p>
            <p>Description: {{this.description}}</p>
            <p>Price: $ {{this.price}}</p>
            <p>Image: {{this.thumbnail}}</p>
            <p>Code: {{this.code}}</p>
            <p>Stock: {{this.stock}}</p>
            <p>Category: {{this.category}}</p>
            <p>Status: {{this.status}}</p>
            <hr/>
        </div>
    {{/each}}
</div>